### OS Junk ###
.DS_Store

### IntelliJ ###
.idea
out
*.iml
Order/.idea/workspace.xml

*.class
last-build.bin
.gradle/3.5/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/built.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/cache.properties.lock
