### OS Junk ###
.DS_Store

### IntelliJ ###
.idea
out
*.iml
Order/.idea/workspace.xml

*.class
last-build.bin
.gradle/3.5/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/built.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/cache.properties.lock
.gradle/4.0/fileContent/annotation-processors.bin
.gradle/4.0/fileContent/fileContent.lock
.gradle/4.0/fileHashes/fileHashes.bin
.gradle/4.0/fileHashes/fileHashes.lock
.gradle/4.0/fileHashes/resourceHashesCache.bin
.gradle/4.0/taskHistory/fileSnapshots.bin
.gradle/4.0/taskHistory/taskHistory.bin
.gradle/4.0/taskHistory/taskHistory.lock
build/libs/CyclingTracker-1.0.0.jar
build/reports/tests/test/index.html
build/reports/tests/test/classes/DataBasedFunctionTest.html
build/reports/tests/test/classes/DifferenceFunctionTest.html
build/reports/tests/test/classes/PerformanceFunctionTest.html
build/reports/tests/test/classes/PerformanceManagementToolTest.html
build/reports/tests/test/classes/serializers.DataBasedFunctionSerializerTest.html
build/reports/tests/test/classes/serializers.LocalDateSerializerTest.html
build/reports/tests/test/classes/serializers.ZeroOrderHoldSerializerTest.html
build/reports/tests/test/classes/ShiftedFunctionTest.html
build/reports/tests/test/classes/ZeroOrderHoldFunctionTest.html
build/reports/tests/test/css/base-style.css
build/reports/tests/test/css/style.css
build/reports/tests/test/js/report.js
build/reports/tests/test/packages/default-package.html
build/reports/tests/test/packages/serializers.html
build/test-results/test/TEST-DataBasedFunctionTest.xml
build/test-results/test/TEST-DifferenceFunctionTest.xml
build/test-results/test/TEST-PerformanceFunctionTest.xml
build/test-results/test/TEST-PerformanceManagementToolTest.xml
build/test-results/test/TEST-serializers.DataBasedFunctionSerializerTest.xml
build/test-results/test/TEST-serializers.LocalDateSerializerTest.xml
build/test-results/test/TEST-serializers.ZeroOrderHoldSerializerTest.xml
build/test-results/test/TEST-ShiftedFunctionTest.xml
build/test-results/test/TEST-ZeroOrderHoldFunctionTest.xml
build/test-results/test/binary/output.bin
build/test-results/test/binary/output.bin.idx
build/test-results/test/binary/results.bin
build/tmp/jar/MANIFEST.MF
